<div class="anketa-item-count-value">
  <%= @user.votes %>
</div>

<% if user_signed_in? && !policy(@user).profile? %>
  <% if VotesQuery.new.is_votes(current_user, @user.number) %>
    <%= button_to votes_voteable_path(@user), :remote => true do %>
      <%= image_tag asset_pack_path 'icon-like-red.svg' %>
    <%- end %>
  <% else %>
    <%= image_tag asset_pack_path 'icon-like.svg' %>
  <% end %>
<% else %>
  <%= image_tag asset_pack_path 'icon-like.svg' %>
<% end %>