<div class="profile-photos" id="profile-gallery">

  <%- if @root_photo.present? %>
    <div class="profile-photo-root profile-gallery-item" data-src="<%= @root_photo.photo_src %>">

      <i class="fa fa-search fa-2x profile-photos-zoom"></i>

      <%= image_tag @root_photo.photo_src.middle, class: "img-responsive" %>

      <% if user_signed_in? && policy(@user).profile? %>
        <div class="profile-photo-actions">
          <%= link_to members_photo_path(@user, @root_photo),
                      method: :delete,
                      class: 'btn btn-default btn-sm',
                      title: "Удалить фотографию",
                      data: {
                          toggle: "tooltip",
                          placement: "top",
                          confirm: 'Вы уверенны что хотите удалить эту фотографию?'
                      } do %>
            <i class="fa fa-trash-o profile-photo-delete-icon"></i>
          <% end %>
        </div>
        <div class="profile-photo-root-info">
          Фото, которое будет отображаться в ленте
        </div>
      <% end %>

    </div>
  <% end %>

  <div class="profile-photos-thumb">
    <%- @user.photos.each do |photo| %>
      <%- unless photo.root %>
        <div class="profile-photo profile-gallery-item" data-src="<%= photo.photo_src.large %>">

          <i class="fa fa-search fa-2x profile-photos-zoom"></i>

          <%= image_tag photo.photo_src.thumb, class: "img-responsive" %>

          <% if user_signed_in? && policy(@user).profile? %>
            <div class="profile-photo-actions">
              <%= simple_form_for photo,
                                  :url => members_edit_photo_path(@user, photo),
                                  :method => :put do |f| %>
                <%= f.button :button,
                             class: 'btn btn-default btn-xs',
                             title: "Сделать фото главным",
                             data: {
                                 toggle: "tooltip",
                                 placement: "top",
                             } do %>
                  <i class="fa fa-check-circle-o profile-photo-btn-root-icon"></i>
                <% end %>
              <% end %>
              <%= link_to members_photo_path(@user, photo),
                          method: :delete,
                          class: 'btn btn-default btn-xs',
                          title: "Удалить фотографию",
                          data: {
                              toggle: "tooltip",
                              placement: "top",
                              confirm: 'Вы уверенны что хотите удалить эту фотографию?'
                          } do %>
                <i class="fa fa-trash-o profile-photo-delete-icon"></i>
              <% end %>
            </div>
          <% end %>

        </div>
      <% end %>
    <% end %>
  </div>
</div>

<% if user_signed_in? && policy(@user).profile? %>
  <div style="margin: 24px 0">
    Для выбора главного фото профиля кликните на иконку с галочкой
    <span class="btn btn-default btn-xs"><i class="fa fa-check-circle-o profile-photo-btn-root-icon"></i></span>
  </div>
<% end %>

<div style="margin: 24px 0">
  <span class="text-muted">Рейтинг:</span>
  <%= @user.votes %>
  <span class="text-muted">баллов</span>
  <span class="text-muted">Позиция:</span>
  <%= @user_position %>
  <span class="text-muted">место</span>
</div>


<% if user_signed_in? && policy(@user).upload? %>
  <%- if @user.photos.length < 4 %>
    <h4>Загрузите 4 фотографии</h4>
    <%= simple_form_for @user, :url => members_upload_path, :method => :post do |f| %>
      <%= f.file_field :photo_src %>
      <br>
      <%= f.button :button, class: "btn btn-success btn-lg" do %>
        Загрузить
      <% end %>
    <% end %>
  <% end %>
<% end %>