<div class="profile-photos">

  <%- if @root_photo.present? %>
    <div class="profile-photo-root">

      <div class="profile-gallery-item" data-src="<%= @root_photo.photo_src %>" data-sub-html=".caption">
        <i class="fa fa-search fa-2x profile-photos-zoom"></i>

        <%= image_tag @root_photo.photo_src.middle, class: "img-responsive" %>

        <div class="caption">
          <h4>
            <%= @user.name %>
          </h4>
        </div>
      </div>

      <% if user_signed_in? && policy(@user).profile? %>
        <div class="profile-photo-actions">
          <%= link_to members_photo_path(@user, @root_photo),
                      method: :delete,
                      remote: true,
                      class:  'btn btn-default btn-sm',
                      title:  "Удалить фотографию",
                      data:   {
                          toggle:    "tooltip",
                          placement: "top",
                          confirm:   'Вы уверенны что хотите удалить эту фотографию?'
                      } do %>
            <i class="fa fa-trash-o profile-photo-delete-icon"></i>
          <% end %>
        </div>
        <div class="profile-photo-root-info">
          Фото, которое будет отображаться в ленте
        </div>
      <% end %>

    </div>
  <% end %>

  <div class="profile-photos-thumb">
    <%- @user.photos.each do |photo| %>
      <%- unless photo.root %>
        <div class="profile-photo">

          <div class="profile-gallery-item" data-src="<%= @root_photo.photo_src %>" data-sub-html=".caption">
            <i class="fa fa-search fa-2x profile-photos-zoom"></i>

            <%= image_tag photo.photo_src.thumb, class: "img-responsive" %>

            <div class="caption">
              <h4>
                <%= @user.name %>
              </h4>
            </div>
          </div>

          <% if user_signed_in? && policy(@user).profile? %>
            <div class="profile-photo-actions">
              <%= simple_form_for photo,
                                  :url    => members_edit_photo_path(@user, photo),
                                  :method => :put do |f| %>
                <%= f.button :button,
                             class: 'btn btn-default btn-xs',
                             title: "Сделать фото главным",
                             data:  {
                                 toggle:    "tooltip",
                                 placement: "top",
                             } do %>
                  <i class="fa fa-check-circle-o profile-photo-btn-root-icon"></i>
                <% end %>
              <% end %>
              <%= link_to members_photo_path(@user, photo),
                          method: :delete,
                          remote: true,
                          class:  'btn btn-default btn-xs',
                          title:  "Удалить фотографию",
                          data:   {
                              toggle:    "tooltip",
                              placement: "top",
                              confirm:   'Вы уверенны что хотите удалить эту фотографию?'
                          } do %>
                <i class="fa fa-trash-o profile-photo-delete-icon"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


<% if user_signed_in? && policy(@user).profile? %>
  <% if @user.photos.present? %>
    <div style="margin: 24px 0">
      Для выбора главного фото профиля
      <br>
      кликните на иконку с галочкой
      <span class="btn btn-default btn-xs"><i class="fa fa-check-circle-o profile-photo-btn-root-icon"></i></span>
    </div>
  <% end %>
<% end %>

<% if user_signed_in? && policy(@user).profile? %>
  <%- if @user.photos.length < 4 %>
    <div id="oooops" style="display: none; margin: 10px; padding: 10px; border: 2px solid #f60; border-radius: 4px;">
      Увы, ваш браузер не поддерживает html5 и flash,
      поэтому смотреть тут нечего, а iframe не даёт всей красоты :]
    </div>

    <div id="buttons-panel" data-url="<%= members_upload_path %>">
      <div class="btn btn-success btn-lg b-button js-fileapi-wrapper">
        <div class="b-button__text">
          <span class="fa fa-photo"></span>
          Выбрать фото для загрузки
        </div>
        <input name="files" class="b-button__input" type="file" accept="image/*" multiple />
      </div>
    </div>
  <% end %>
<% end %>
