<% if user_signed_in? && policy(@user).profile? %>
  <div class="profile-created">
    <%= link_to edit_user_path(@user), class: 'profile-edit-link' do %>
      <span class="profile-edit-link__label">Редактировать анкету</span>
      <i class="profile-edit-link__icon fa fa-cog" aria-hidden="true"></i>
    <% end %>
  </div>
<% end %>

<div class="profile-social">
  <div class="profile-social-title">
    Поделитесь с друзьями:
  </div>
  <div class="ya-share2" data-services="collections,vkontakte,facebook" data-counter=""></div>
</div>


<h1 class="profile-title">
  <%= @user.name %>
</h1>
<div class="profile-info" style="margin-bottom: 40px">
  <%- if @user.age.present? %>
    <div class="profile-info-item">
      <div class="profile-label">
        Возраст
      </div>
      <div class="profile-info-item-body">
        <%= t('datetime.distance_in_words.x_years', count: @user.age, locale: :ru) %>
      </div>
    </div>
  <% end %>
  <%- if @user.location.present? %>
    <div class="profile-info-item">
      <div class="profile-label">
        Город
      </div>
      <div class="profile-info-item-body">
        <%= @user.location %>
      </div>
    </div>
  <% end %>
</div>

<%- if @user.organization.present? %>
  <div class="profile-job">

    <div class="profile-label">Место работы</div>

    <div class="profile-job-title">
      <div class="profile-organization">
        <%= @user.organization %>
      </div>
      <%= link_to @user.organization_site,
                  "//#{@user.organization_site}",
                  target: "_blank",
                  class: "profile-organization_link" %>
    </div>

    <div class="profile-info">

      <%- if @user.work_experience.present? %>
        <div class="profile-info-item">
          <div class="profile-label">
            Стаж
          </div>
          <div class="profile-info-item-body">
            <%= @user.work_experience %>
            <%#= t('datetime.distance_in_words.x_years', count: @user.work_experience, locale: :ru) %>
          </div>
        </div>
      <% end %>

      <div class="profile-info-item">
        <div class="profile-label">
          Должность
        </div>
        <div class="profile-info-item-body">
          <%= @user.position %>
        </div>
      </div>
    </div>

  </div>
<% end %>



<%- if @user.about.present? %>
  <div class="profile-info" style="margin-top: 40px">
    <div class="profile-info-item">
      <div class="profile-label">
        Обо мне
      </div>
      <div class="profile-info-item-body">
        <%= @user.about %>
      </div>
    </div>
  </div>
<% end %>


<div class="profile-created-data">
  <span class="text-muted">Дата размещения анкеты:</span>
  <%= @user.created_at.present? && @user.created_at.strftime("%d.%m.%Y") %>
</div>

<% if user_signed_in? && policy(@user).profile? %>
  <div class="text-muted" style="margin-bottom: 32px">
    <i class="fa fa-eye-slash" style="font-size: 24px"></i>
    Скрытая информация, для связи администрации с участницей
  </div>

  <%- if @user.phone.present? %>
    <div class="profile-info" style="margin-top: 32px">
      <div class="profile-info-item">
        <div class="profile-label">
          Телефон для связи
        </div>
        <div class="profile-info-item-body">
          <%= @user.phone %>
        </div>
      </div>
    </div>
  <% end %>

  <%- if @user.email.present? %>
    <div class="profile-info" style="margin-top: 16px">
      <div class="profile-info-item">
        <div class="profile-label">
          Email
        </div>
        <div class="profile-info-item-body">
          <%= @user.email %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>