<td>
  <%= link_to user.name, user %>
  <br>
  <%= link_to user.email, user %>
  <br>
  <%= user.created_at.strftime("%d.%m.%Y %H:%M") %>
  <br>
  <%- if user.uid.present? %>
    <%= link_to 'Профиль на fb', "https://fb.com/#{user.uid}", target: "_blank" %>
  <% end %>
</td>
<td>
  <%= form_for(user) do |f| %>
    <%= f.select(:role, User::ROLE.map {|role| [role, role]}) %>
    <%= f.select(:is_vote, [['true', true], ['false', false]].map {|label, value| [label, value]}) %>
    <%= f.submit 'Change Role', :class => 'button-xs' %>
  <% end %>
</td>
<td>
  <%= link_to("Delete user",
              user_path(user),
              :data => {:confirm => "Are you sure?"},
              :method => :delete,
              :class => 'button-xs') unless user == current_user %>
  <%= link_to "Edit user", edit_user_path(user), :class => 'button-xs' %>
</td>
