<td>
  <%= link_to user.name, show_member_path(user) %>
  <br>
  <%= link_to user.email, user %>
  <br>
  <%= user.created_at.strftime("%d.%m.%Y %H:%M") %>
  <br>
  <%= user.is_disqualify.present? && user.is_disqualify %>
  <br>

  <%- if user.profile.present? && user.uid.present? %>
    <%= link_to "Профиль на #{user.provider}", user.profile, target: "_blank" %>
  <% else %>
    <%- if user.uid.present? %>
      <%= link_to 'Профиль на fb', "https://fb.com/#{user.uid}", target: "_blank" %>
    <% end %>
  <% end %>
</td>
<td>
  <%= form_for user, url: update_member_path(user), method: "put" do |f| %>
    <div class="form-group">
      <%= label_tag(:role, "Роль:") %>
      <%= f.select(:role, User::ROLE.map {|role| [role, role]}) %>
    </div>
    <div class="form-group">
      <%= label_tag(:is_vote, "Участвует в голосовании?:") %>
      <%= f.select(:is_vote, [['true', true], ['false', false]].map {|label, value| [label, value]}) %>
    </div>
    <div class="form-group">
      <%= label_tag(:is_disqualify, "Дисквалифицирована?:") %>
      <%= f.check_box(:is_disqualify) %>
    </div>
    <div class="form-group">
      <%= label_tag(:votes, "Голоса:") %>
      <%= f.text_field(:votes) %>
    </div>
    <div class="form-group">
      <%= label_tag(:rating, "Место:") %>
      <%= f.text_field(:rating) %>
    </div>
    <div class="form-group">
      <%= f.submit 'Сохранить', :class => 'btn btn-success' %>
    </div>
  <% end %>
</td>
<td>
  <%= link_to("Delete user",
              user_path(user),
              :data => {:confirm => "Are you sure?"},
              :method => :delete,
              :class => 'button-xs') unless user == current_user %>
  <%= link_to "Edit user", edit_user_path(user), :class => 'button-xs' %>
</td>
