<div class="container container-body content-container">
  <div class="row">
    <h3>Users</h3>

    <%= link_to "Экспорт участниц в CSV", members_votes_path(format: "csv") %>
    <br>
    <br>
    <%= form_tag("/members", method: "get") do %>
      <%= label_tag(:q, "Поиск по имени:") %>
      <%= text_field_tag(:q) %>
      <%= label_tag(:user_id, "Поиск по user_id:") %>
      <%= text_field_tag(:user_id) %>
      <%= submit_tag("Искать") %>
    <% end %>
    <br>
    <div class="column">
      <table class="table">
        <tbody>
        <% @users.each do |user| %>
          <tr>
            <%= render user %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <%= paginate @users, params: {controller: 'users', action: 'index'} %>
  </div>
</div>