<% if user_signed_in? && policy(@user).is_voted? %>
  <div style="padding: 80px 0">
    <div class="row">
      <div class="col-md-6">
        <div class="text-right">
          <%= button_to is_voted_path(@user), class: 'btn btn-success btn-lg' do %>
            Участвовать в конкурсе
          <%- end %>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-left">
          <%= link_to 'Голосовать', votes_path, class: 'btn btn-primary btn-lg' %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<%- content_for :title do %>
  Я участвую в конкурсе красоты Мисс Туризм 2018!
<%- end %>
<%- content_for :description do %>
  Голосуйте за меня с 31 июля по 4 сентября!
<%- end %>

<% if user_signed_in? && policy(@user).edit? %>
  <%= render partial: "shared/meta_og",
             locals:  {title: "Я участвую в конкурсе красоты Мисс Туризм 2017!",
                       desc:  "Голосуйте за меня с 31 июля по 4 сентября!",
                       photo: @root_photo ? @root_photo.photo_src.large : nil
             }
  %>
<%- else %>
  <%= render partial: "shared/meta_og",
             locals:  {title: "Посмотрите какая девушка!",
                       desc:  "#{@user.name} участвует в конкурсе красоты Мисс Туризм 2018! Проголосуйте за нее с 31 июля по 4 сентября!",
                       photo: @root_photo ? @root_photo.photo_src.large : nil
             }
  %>
<% end %>

<div class="profile-heding">
  <div>
    АНКЕТА УЧАСТНИЦЫ № <%= @user.number %>
  </div>
  <div class="profile-position">
    <%- if @user.is_disqualify %>
      <div class="alert alert-danger text-center">
        Участница дисквалифицированна
      </div>
    <% else %>
      <%= render 'users/anketa_count' %>
    <% end %>
  </div>
</div>

<div class="profile-container">
  <div class="profile-photos-col">
    <%== render 'users/photos_col' %>
  </div>
  <div class="profile-info-col">


    <div class="votes-block">

      <div class="votes-block-pager">
        <%- if @user_prev %>
          <%== link_to user_path(@user_prev, request.query_parameters), class: 'btn btn-default' do %>
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
            <span>Предыдущая</span>
          <% end %>
        <% else %>
          <div></div>
        <% end %>

        <% if user_signed_in? && policy(current_user).user? %>
          <% unless VotesQuery.new.is_votes(current_user, @user.number) %>
            <div class="vote-btn-container text-center">
              <span class='btn btn-success disabled'>Вы проголосовали</span>
            </div>
          <% end %>
        <% end %>

        <%- if @user_next %>
          <%== link_to user_path(@user_next, request.query_parameters), class: 'btn btn-default' do %>
            <span>Следующая</span>
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
          <% end %>
        <% else %>
          <div></div>
        <% end %>
      </div>



      <% if user_signed_in? && policy(@user).user? %>
        <% if VotesQuery.new.is_votes(current_user, @user.number) %>
          <div class="vote-btn-container text-center">
            <%= link_to voteable_path(@user),
                        class:  'vote-btn',
                        remote: true do %>
              Проголосовать
              <%= image_tag asset_pack_path 'packs/img/icon-like-red.svg' %>
            <% end %>
          </div>
        <% else %>
          <div class="vote-btn-container text-center">
            <%= link_to voteable_path(@user),
                        class:  'btn btn-primary',
                        remote: true do %>
              Отозвать свой голос
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div class="vote-btn-container text-center">
          <a href="#" class="vote-btn" data-toggle="modal" data-target="#myModal">
            Проголосовать
            <%= image_tag asset_pack_path 'packs/img/icon-like-red.svg' %>
          </a>
        </div>
      <% end %>
      <% if false %>
        <div class="vote-btn-container text-center">
                <span class="vote-btn vote-btn_final">
                  Подсчет голосов завершен
                </span>
        </div>
      <% end %>
    </div>


    <%== render 'users/userinfo' %>
  </div>
</div>

<hr>
<div style="margin: 0 0 64px 0;text-align: center">
  <%=
    link_to_if(@back_url.present?, "Назад", url_for(@back_url), class: "btn btn-success btn-lg") do
      link_to("Все участницы", votes_path, class: "btn btn-success btn-lg")
    end
  %>
</div>

<%= render partial: 'shared/gen_partner', cached: true %>
<%= render partial: 'shared/partners', cached: true %>