<div class="profile">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <%- @user.photos.each do |photo| %>
          <div>
            <%= image_tag photo.photo_src.thumb, class: "media-object img-responsive img-thumbnail" %>
          </div>
        <% end %>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

        <div class="profile-created">
          <div class="profile-created-data">
            <span class="text-muted">Дата размещения анкеты:</span>
            <%= current_user.created_at.present? && current_user.created_at.strftime("%d.%m.%Y") %>
          </div>
          <%= link_to edit_user_path(current_user), class: 'profile-edit-link' do %>
            <span class="profile-edit-link__label">Редактировать</span>
            <i class="profile-edit-link__icon fa fa-cog" aria-hidden="true"></i>
          <% end %>
        </div>

        <div class="profile-job">

          <div class="text-muted">Место работы:</div>
          <span class="profile-organization">
            <%= current_user.organization %>
          </span>
          <%= link_to current_user.organization_site,
                      "//#{current_user.organization_site}",
                      target: "_blank",
                      class: "profile-organization_link" %>

          <div class="text-muted">
            Стаж:
            <%= t('datetime.distance_in_words.x_years', count: current_user.work_experience, locale: :ru) %>
          </div>
        </div>

        <h1 class="profile-title">
          <%= current_user.name %>
        </h1>

        <div class="profile-p">
          <%= current_user.position %>
        </div>

        <div class="profile-p text-muted">
          <%= t('datetime.distance_in_words.x_years', count: current_user.age, locale: :ru) %>
        </div>

        <div class="profile-pool-info">

          <div class="profile-pool-info-block profile-pool-info-block__rating">
            <div class="profile-pool-info-block-result">
              33
            </div>
            <div class="profile-pool-info-block-text">
              <span class="text-muted">
                Ваш рейтинг
              </span>
            </div>
          </div>

          <div class="profile-pool-info-block profile-pool-info-block__rating">
            <div class="profile-pool-info-block-result">
              12293
            </div>
            <div class="profile-pool-info-block-text">
              <%= image_tag asset_pack_path 'icon-like.svg' %>
              <span class="text-muted">
                Вас лайкнули
              </span>
            </div>
          </div>

        </div>

        <div class="">
          <div class="text-muted">
            Скрытая информация, для связи администрации с участницой
            <i class="fa fa-eye-slash" aria-hidden="true"></i>
          </div>

          <div class="profile-p" style="margin-top: 16px">
            Телефон для связи
          </div>
          <div class="text-muted">
            <%= current_user.phone %>
          </div>

          <div class="profile-p" style="margin-top: 16px">
            Email
          </div>
          <div class="text-muted">
            <%= current_user.email %>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-4 col-lg-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4>
          <%= @user.name.present? ? @user.name : @user.email %>
        </h4>
      </div>
      <div class="panel-body">
        <dl class="dl-horizontal">
          <dt>
            <%= t 'simple_form.labels.user.name' %>
          </dt>
          <dd>
            <%= @user.name %>
          </dd>
        </dl>
        <%= simple_form_for @user do |f| %>
          <%= f.input :name %>
          <%= f.input :organization %>
          <%= f.input :organization_site %>
          <%= f.input :position %>
          <%= f.input :work_experience %>
          <%= f.input :age %>
          <%#= f.input :phone, as: :tel, pattern: "[0-9]{1} [0-9]{3} [0-9]{3}-[0-9]{2}-[0-9]{2}" %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>


<h3>User</h3>
<p>Email: <%= @user.email if @user.email %></p>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      Загрузка фото
      <%= @user.email %>
    </h4>
  </div>
  <div class="panel-body">
    <%= simple_form_for @user, :url => members_upload_path, :method => :post do |f| %>
      <%= f.file_field :photo_src %>
      <%= f.button :submit %>
    <% end %>
  </div>
</div>
