<%- photo = user.photos.present? ? user.photos.find_by(root: true) : nil %>
<%= link_to user_path(user), class: "anketa-item" do %>
  <div class="anketa-item-img">
    <%- unless user.is_disqualify %>
      <div class="anketa-item-count" id="anketa-item-count-<%= user.number %>">
        <div class="anketa-item-count-value">
          <%= user.votes %>
        </div>


        <% if user_signed_in? && !policy(user).profile? %>
          <% if VotesQuery.new.is_votes(current_user, user.number) %>
            <%= button_to votes_voteable_path(user), :remote => true do %>
              <%= image_tag asset_pack_path 'packs/img/icon-like-red.svg' %>
            <%- end %>
          <% else %>
            <%= image_tag asset_pack_path 'packs/img/icon-like.svg' %>
          <% end %>
        <% else %>
          <%= image_tag asset_pack_path 'packs/img/icon-like.svg' %>
        <% end %>

      </div>
    <% else %>
      <div class="user-disqualify">
        <div>
          Участница
        </div>
        <div>
          выбыла из участия
        </div>
      </div>
    <% end %>
    <%= image_tag photo.photo_src.middle, class: "img-responsive" %>
  </div>
  <div class="anketa-item-name">
    <%= user.name %>,
    <%= user.age %>
  </div>
  <div class="anketa-item-organization">
    <%= user.organization %>
  </div>
  <!--
  <div class="anketa-item-date">
    <span class="text-muted">Дата размещения анкеты:</span>
    <%#= user.created_at.present? && user.created_at.strftime("%d.%m.%Y") %>
  </div>
  -->
<% end %>