<%= link_to user_path(user), class: "anketa-item" do %>
  <div class="anketa-item-img">
    <div class="anketa-item-count">
      <div class="anketa-item-count-value">
        <%= user.votes %>
      </div>
      <%= image_tag asset_pack_path 'icon-like.svg' %>
    </div>
    <%= image_tag photo.photo_src.middle, class: "img-responsive" %>
  </div>
  <div class="anketa-item-name">
    <%= user.name %>,
    <%= user.age %>
  </div>
  <div class="anketa-item-organization">
    <%= user.organization %>
  </div>
<% end %>