<div id="jury" class="jury">
  <div class="home-subtitle jury-list-title">
    Жюри конкурса
  </div>

  <div class="jury-list">

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/сharitidis.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Димитрис Харитидис
      </div>
      <div class="jury-item-info">
        Управляющий директор
        <br>
        TEZ TOUR Греция
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/angelopoulos.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Александрос Ангелопулос
      </div>
      <div class="jury-item-info">
        Генеральный директор компании
        <br>
        Aldemar Resorts
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/chehova.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Анфи́са Че́хова
      </div>
      <div class="jury-item-info">
        Российская теле и радиоведущая,
        <br>
        певица, киноактриса
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/veber.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Наталья Вебер
      </div>
      <div class="jury-item-info">
        Директор по PR и маркетингу
        <br>
        в Aldemar Resorts
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-4.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Татьяна Дмитрова
      </div>
      <div class="jury-item-info">
        CEO и Основатель
        <br>
        медиахолдинга "Банко"
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/sem.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Анаа Семенович
      </div>
      <div class="jury-item-info">
        Фигуристка, актриса, телеведущая
        <br>
        и эстрадная певица
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/ilin.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Владимир Ильин
      </div>
      <div class="jury-item-info">
        Директор модельного агентства
        <br>
        Волга Моделс
      </div>
    </div>

    <!--
    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-1.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Дерья Биллюр
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        отеля Rixos Sungate
      </div>
    </div>


    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-2.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Мерт Эсмен
      </div>
      <div class="jury-item-info">
        Директор отдела продаж
        <br>
        и маркетинга отеля
        <br>
        Rixos Sungate
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-3.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Рашад Мамедов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        и владелец компании
        <br>
        TBS Group
      </div>
    </div>


    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-5.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Сергей Агафонов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        сети Магазинов
        <br>
        Горящих Путевок
      </div>
    </div>


    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/danilovich.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Евгений Данилович
      </div>
      <div class="jury-item-info">
        Генеральний директор
        <br>
        УК Sletat.ru
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/mihriban.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Михрибан Илмаз
      </div>
      <div class="jury-item-info">
        Заместитель Генерального
        <br>
        директора по работе
        <br>
        с отелями Kilit Global
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/spilman.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Вадим Шпильман
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        OneTouch&Travel
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/pustov.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Леонид Пустов
      </div>
      <div class="jury-item-info">
        сооснователь
        <br>
        TravelStartups
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/pobedkin.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Константин Победкин
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        OnlineTours
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('packs/img/jury-10.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Анна Багдасарян
      </div>
      <div class="jury-item-info">
        Руководитель отдела по работе
        <br>
        с агентствами библио-глобус
      </div>
    </div>

    -->

  </div>
</div>
