<%- content_for :title do %>
  <%= meta_title %>
<%- end %>
<%- content_for :description do %>
  <%= meta_desc %>
<%- end %>

<%= render partial: "shared/meta_og",
           locals: {title: meta_title,
                    desc: meta_desc,
                    photo: nil
           }
%>

<div class="container content-container">


  <% if false %>
    <div class="counters-container">

      <% cache @users_all do %>
        <div class="counter">
          <div class="counter-items">
            <%- @users_all.count.to_s.split('').each do |item| %>
              <div class="counter-item">
                <%= item %>
              </div>
            <% end %>
          </div>
          <div class="counter-label">
            анкет
          </div>
        </div>
      <% end %>


      <% cache @votes_count do %>
        <div class="counter">
          <div class="counter-items">
            <%- @votes_count.to_s.split('').each do |item| %>
              <div class="counter-item">
                <%= item %>
              </div>
            <% end %>
          </div>
          <div class="counter-label">
            голосов
          </div>
        </div>
      <% end %>

      <div class="counter">
        <!--
      <div class="counter-items">
        <%- ("2017-10-31".to_date - Date.current).numerator.to_s.split('').each do |item| %>
          <div class="counter-item">
            <%= item %>
          </div>
        <% end %>
        <div class="counter-item-label">
          дней
        </div>
      </div>
      <div class="counter-label">
        до окончания голосования
      </div>
      -->
        <div class="counter-label">
          <br>
          Подсчет голосов завершен
        </div>
      </div>

    </div>

  <% end %>

  <div class="home_top">
    Видео
  </div>

  <div>
    <iframe style="width: 100%; height: 80vh" src="https://www.youtube.com/embed/2xFKbAbrhFA?rel=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="home_top">
    Победительницы конкурса
  </div>

  <div class="home_top-2">
    МИСС ТУРИЗМ 2017
  </div>

  <%- if @user1.present? %>
    <div class="owl-carousel home-users home-users-leader">
      <%- @user1.photos.each do |photo| %>
        <div class="home-users-item">
          <%= link_to user_path(@user1), class: "anketa-item" do %>
            <div class="anketa-item-img">
              <%= image_tag photo.photo_src.large, class: "img-responsive" %>
            </div>
            <div class="anketa-item-name">
              <%= @user1.name %>,
              <%= @user1.age %>
            </div>
            <div class="anketa-item-organization">
              <%= @user1.organization %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="votes-users">
    <div class="votes-user">
      <div class="home_top-3">
        &nbsp;
        <br>
        I ВИЦЕ МИСС ТУРИЗМ
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user2} %>
    </div>
    <div class="votes-user">
      <div class="home_top-3">
        &nbsp;
        <br>
        II ВИЦЕ МИСС ТУРИЗМ
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user3} %>
    </div>
    <div class="votes-user">
      <div class="home_top-3">
        Мисс Туризм
        <br>
        зрительских симпатий
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user4} %>
    </div>
  </div>

  <div class="home-subtitle" style="margin-top: 30px">
    Финалистки конкурса
  </div>

  <div class="votes-users">
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user5} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user6} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user7} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user8} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user9} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user10} %>
    </div>
  </div>

  <%= link_to 'Все участницы', votes_path, class: "btn-votes" %>

  <%- if @user.photos.length > 0 %>
    <div class="home-subtitle">
      Фотографии с конкурса
    </div>
  <% end %>


  <%- if @user.present? %>
    <div class="owl-carousel home-users gallery-home">
      <%- @user.photos.each do |photo| %>
        <div class="home-users-item">
          <div class="anketa-item">
            <div class="anketa-item-img img_gallery">
              <%= image_tag photo.photo_src.large, class: "img-responsive" %>
            </div>
          </div>

          <% if user_signed_in? && policy(current_user).index? %>
            <div class="text-center" style="margin-top: 16px">
              <%= link_to members_photo_gallery_path(@user, photo),
                          method: :delete,
                          class: 'btn btn-default btn-lg',
                          title: "Удалить фотографию",
                          data: {
                              toggle: "tooltip",
                              placement: "top",
                              confirm: 'Вы уверенны что хотите удалить эту фотографию?'
                          } do %>
                <i class="fa fa-trash-o profile-photo-delete-icon"></i>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if user_signed_in? && policy(current_user).index? %>
    <h4>Загрузите фотографии</h4>
    <%= simple_form_for @user, :url => members_upload_galery_path, :method => :post do |f| %>
      <%= f.file_field :photo_src, multiple: true %>
      <br>
      <%= f.button :button, class: "btn btn-success btn-lg" do %>
        Загрузить
      <% end %>
    <% end %>
  <% end %>


  <!--

  <h1 class="home-title" id="about">
    <div class="home-title-slogan">
      Конкурс красоты представительниц туриндустрии
    </div>
    <div class="home-title-text">
      Мисс Туризм 2017
    </div>
  </h1>

  <div class="home-subtitle">
    О КОНКУРСЕ
  </div>

  <div class="heroes">

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-woman.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Твоя красота затмит пейзажи Австралии, Доминиканы и Мальдив? Ты удивительна, как розовое
        озеро в Сенегале, и интересна, как фауна Мадагаскара?
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-18.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Тебе 18 +, ты работаешь в турбизнесе и готова украсить собой мир? Тебя ждёт зажигательный
        всероссийский конкурс «Мисс Туризм»!
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-work.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Регистрируйся прямо сейчас и собирай как можно большей лайков в интернет-голосовании
        - используй шанс стать одной из 10 участниц.
        Для этого подключай друзей, публикуй вау-новость в своих соцсетях
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-hotel.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Состязание финалисток произойдёт в ноябре в шикарном отеле Турции Rixos Sungate,
        где царит атмосфера вечного праздника и веселья.
        И пусть победит красивейшая!
      </div>
    </div>

  </div>



  <div class="home-subtitle">
    Этапы конкурса
  </div>


  <div class="etaps">
    <div class="etaps-item">
      <div class="etaps-item-date">
        с 15 Сентября
      </div>
      <div class="etaps-item-action">
        <b>Подача анкет:</b>
        <br>
        до 1000 участников
      </div>
    </div>
    <div class="etaps-item">
      <div class="etaps-item-date">
        1 Ноября
      </div>
      <div class="etaps-item-action">
        <b>Отборочный тур:</b>
        <br>
        подведение итогов онлайн голосования
      </div>
    </div>
    <div class="etaps-item">
      <div class="etaps-item-date">
        5-8 Ноября
      </div>
      <div class="etaps-item-action">
        <b>Финал конкурса:</b>
        <br>
        голосование жюри
        Rixos Sungate,
        Бельдиби, Турция
      </div>
    </div>
  </div>
  -->

  <!--
    <div class="etaps-date-info">
      Даты могут быть скорректированы
    </div>
  -->

  <!--
  <%- unless user_signed_in? %>
    <div class="home-action">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
        Принять участие
        <span class="hide-xs">в конкурсе</span>
      </button>
    </div>
  <% end %>
-->

  <div class="home-subtitle jury-list-title" id="jury">
    Жюри конкурса
  </div>

  <div class="jury-list">

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-1.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Дерья Биллюр
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        отеля Rixos Sungate
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-2.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Мерт Эсмен
      </div>
      <div class="jury-item-info">
        Директор отдела продаж
        <br>
        и маркетинга отеля
        <br>
        Rixos Sungate
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-3.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Рашад Мамедов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        и владелец компании
        <br>
        TBS Group
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-4.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Татьяна Дмитрова
      </div>
      <div class="jury-item-info">
        CEO и Основатель
        <br>
        медиахолдинга "Банко"
      </div>
    </div>

    <!--
    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-5.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Сергей Агафонов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        сети Магазинов
        <br>
        Горящих Путевок
      </div>
    </div>
    -->

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('danilovich.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Евгений Данилович
      </div>
      <div class="jury-item-info">
        Генеральний директор
        <br>
        УК Sletat.ru
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('mihriban.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Михрибан Илмаз
      </div>
      <div class="jury-item-info">
        Заместитель Генерального
        <br>
        директора по работе
        <br>
        с отелями Kilit Global
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('spilman.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Вадим Шпильман
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        OneTouch&Travel
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('ilin.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Владимир Ильин
      </div>
      <div class="jury-item-info">
        Официальный представитель
        <br>
        конкурса Мисс Туризм Россия
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('pustov.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Леонид Пустов
      </div>
      <div class="jury-item-info">
        сооснователь
        <br>
        TravelStartups
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('pobedkin.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Константин Победкин
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        OnlineTours
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-10.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Анна Багдасарян
      </div>
      <div class="jury-item-info">
        Руководитель отдела по работе
        <br>
        с агентствами библио-глобус
      </div>
    </div>

  </div>
</div>