<%- content_for :title do %>
  <%= meta_title %>
<%- end %>
<%- content_for :description do %>
  <%= meta_desc %>
<%- end %>

<%= render partial: "shared/meta_og",
           locals:  {title: meta_title,
                     desc:  meta_desc,
                     photo: nil
           }
%>

<%= render partial: 'shared/about', cached: true %>
<%= render partial: 'shared/steps', cached: true %>
<%= render partial: 'shared/jury', cached: true %>
<%= render partial: 'shared/gen_partner', cached: true %>
<%= render partial: 'shared/partners', cached: true %>
<%# cache do %>
<%# end %>

<%- if false %>

  <div class="home_top" id="top">
    Победительницы конкурса
  </div>

  <div class="home_top-2">
    МИСС ТУРИЗМ 2017
  </div>

  <%- if @user1.present? %>
    <div class="owl-carousel home-users home-users-leader">
      <%- @user1.photos.each do |photo| %>
        <div class="home-users-item">
          <%= link_to user_path(@user1), class: "anketa-item" do %>
            <div class="anketa-item-img">
              <img class="img-responsive owl-lazy" data-src="<%= photo.photo_src.large %>" />
            </div>
            <div class="anketa-item-name">
              <%= @user1.name %>,
              <%= @user1.age %>
            </div>
            <div class="anketa-item-organization">
              <%= @user1.organization %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="votes-users">
    <div class="votes-user">
      <div class="home_top-3">
        &nbsp;
        <br>
        I ВИЦЕ МИСС ТУРИЗМ
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user2} %>
    </div>
    <div class="votes-user">
      <div class="home_top-3">
        &nbsp;
        <br>
        II ВИЦЕ МИСС ТУРИЗМ
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user3} %>
    </div>
    <div class="votes-user">
      <div class="home_top-3">
        Мисс Туризм
        <br>
        зрительских симпатий
      </div>
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user4} %>
    </div>
  </div>


  <div class="home-subtitle" style="margin-top: 30px">
    Финалистки конкурса
  </div>

  <div class="votes-users">
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user5} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user6} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user7} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user8} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user9} %>
    </div>
    <div class="votes-user">
      <%= render partial: "shared/anketa_mini_home", locals: {user: @user10} %>
    </div>
  </div>

  <%= link_to 'Все участницы', votes_path, class: "btn-votes" %>

<% end %>