<%- content_for :title do %>
  <%= meta_title %>
<%- end %>
<%- content_for :description do %>
  <%= meta_desc %>
<%- end %>

<%= render partial: "shared/meta_og",
           locals: {title: meta_title,
                    desc: meta_desc,
                    photo: nil
           }
%>

<div class="container content-container">

  <div class="home_top">
    ТОП-12 Участниц
  </div>

  <div class="owl-carousel home-users">
    <%- @users.each do |user| %>
      <div class="home-users-item">
        <%= render partial: "shared/anketa_mini", locals: {user: user} %>
      </div>
    <% end %>
  </div>

  <%= link_to 'Все участницы', votes_path, class: "btn-votes" %>

  <h1 class="home-title" id="about">
    <div class="home-title-slogan">
      Конкурс красоты представительниц туриндустрии
    </div>
    <div class="home-title-text">
      Мисс Туризм 2017
    </div>
  </h1>

  <div class="home-subtitle">
    О КОНКУРСЕ
  </div>

  <div class="heroes">

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-woman.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Твоя красота затмит пейзажи Австралии, Доминиканы и Мальдив? Ты удивительна, как розовое
        озеро в Сенегале, и интересна, как фауна Мадагаскара?
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-18.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Тебе 18 +, ты работаешь в турбизнесе и готова украсить собой мир? Тебя ждёт зажигательный
        всероссийский конкурс «Мисс Туризм»!
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-work.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Регистрируйся прямо сейчас и собирай как можно большей лайков в интернет-голосовании
        - используй шанс стать одной из 12 участниц.
        Для этого подключай друзей, публикуй вау-новость в своих соцсетях
      </div>
    </div>

    <div class="heroes-item">
      <div class="heroes-item-icon">
        <%= image_tag(asset_pack_path('icon-hotel.svg'), size: "90x90") %>
      </div>
      <div class="heroes-item-text">
        Состязание финалисток произойдёт в ноябре в шикарном отеле Турции Rixos Sungate,
        где царит атмосфера вечного праздника и веселья.
        И пусть победит красивейшая!
      </div>
    </div>

  </div>

  <div class="home-subtitle">
    Этапы конкурса
  </div>


  <div class="etaps">
    <div class="etaps-item">
      <div class="etaps-item-date">
        с 15 Сентября
      </div>
      <div class="etaps-item-action">
        <b>Подача анкет:</b>
        <br>
        до 1000 участников
      </div>
    </div>
    <div class="etaps-item">
      <div class="etaps-item-date">
        1 Ноября
      </div>
      <div class="etaps-item-action">
        <b>Отборочный тур:</b>
        <br>
        подведение итогов онлайн голосования
      </div>
    </div>
    <div class="etaps-item">
      <div class="etaps-item-date">
        5-8 Ноября
      </div>
      <div class="etaps-item-action">
        <b>Финал конкурса:</b>
        <br>
        голосование жюри
        Rixos Sungate,
        Бельдиби, Турция
      </div>
    </div>
  </div>

  <!--
    <div class="etaps-date-info">
      Даты могут быть скорректированы
    </div>
  -->

  <%- unless user_signed_in? %>
    <div class="home-action">
      <button type="button" class="btn btn-success btn-lg" data-toggle="modal" data-target="#myModal">
        Принять участие
        <span class="hide-xs">в конкурсе</span>
      </button>
    </div>
  <% end %>


  <div class="home-subtitle jury-list-title" id="jury">
    Жюри конкурса
  </div>

  <div class="jury-list">

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-1.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Дерья Биллюр
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        отеля Rixos Sungate
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-2.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Мерт Эсмен
      </div>
      <div class="jury-item-info">
        Директор отдела продаж
        <br>
        и маркетинга отеля
        <br>
        Rixos Sungate
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-3.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Рашад Мамедов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        и владелец компании
        <br>
        TBS Group
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-4.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Татьяна Дмитрова
      </div>
      <div class="jury-item-info">
        CEO и Основатель
        <br>
        медиахолдинга "Банко"
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('jury-5.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Сергей Агафонов
      </div>
      <div class="jury-item-info">
        Генеральный директор
        <br>
        сети Магазинов
        <br>
        Горящих Путевок
      </div>
    </div>

    <div class="jury-item">
      <div class="jury-item-photo">
        <%= image_tag(asset_pack_path('danilovich.jpg'), size: "180x180") %>
      </div>
      <div class="jury-item-name">
        Евгений Данилович
      </div>
      <div class="jury-item-info">
        Генеральний директор
        <br>
        УК Sletat.ru
      </div>
    </div>

  </div>
</div>