<ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
    <!--<li><%= link_to 'Редактировать аккаунт', edit_user_registration_path %></li>-->
    <li><%= link_to "Партнеры", edit_user_path(current_user) %></li>
    <li><%= link_to "Заполнить анкету", edit_user_path(current_user) %></li>
    <%- if current_user.image.present? %>
      <li>
        <%= link_to user_path(current_user), class: 'user-avatar' do %>
          <%= image_tag current_user.image, class: 'img-responsive' %>
        <% end %>
      </li>
    <% end %>
    <%- if false %>
      <li><%= link_to current_user.name.present? ? current_user.name : current_user.email, edit_user_path(current_user) %></li>
    <% end %>
  <% else %>
    <li><%= link_to 'Войти', new_user_session_path %></li>
    <li><%= link_to 'Зарегистрироваться', new_user_registration_path %></li>
  <% end %>
</ul>