<ul class="nav navbar-nav navbar-right">
  <li><%= link_to "Партнеры", '/' %></li>
  <% if user_signed_in? %>
    <li><%= link_to "Заполнить анкету", edit_user_path(current_user) %></li>
    <%- if current_user.image.present? %>
      <li>
        <%= link_to user_path(current_user), class: 'user-avatar' do %>
          <%= image_tag current_user.image.gsub('http:', ''), class: 'img-responsive' %>
        <% end %>
      </li>
    <% end %>
    <li><%= link_to 'Выйти', destroy_user_session_path, :method => 'delete' %></li>
  <% end %>
</ul>