<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%== content_for?(:title) ?
             yield(:title) :
             'Мисс Туризм 2017' %>
  </title>
  <meta name="description" content="<%== content_for?(:description) ?
                                            yield(:description) :
                                            'Конкурс красоты cотрудниц индустрии туризма Мисс Туризм 2017.' %>" />

  <%= yield :og %>
  <%== csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet" />
  <%== stylesheet_link_tag 'application' %>
  <%== stylesheet_pack_tag 'app-styles' %>
  <%== javascript_include_tag 'application' %>
  <%== javascript_pack_tag 'application' %>
</head>
<body>
<!— Global Site Tag (gtag.js) - Google Analytics —>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39953962-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-39953962-1');
</script>
<%== render 'header/header' %>
<%== render 'layouts/messages' %>
<%== yield %>
<%== render 'shared/organizator' %>
<%== render 'layouts/footer' %>
<%== render 'shared/socials' %>
</body>
</html>