<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%== content_for?(:title) ?
             yield(:title) :
             meta_title %>
  </title>
  <meta name="description" content="<%== content_for?(:description) ?
                                            yield(:description) :
                                             meta_desc %>" />

  <%= yield :og %>
  <%== csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet" />
  <%== stylesheet_link_tag 'application' %>
  <%== stylesheet_pack_tag 'app-styles' %>
  <%== javascript_include_tag 'application' %>
  <%== javascript_pack_tag 'application' %>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-9255090171390946",
      enable_page_level_ads: true
    });
  </script>
</head>
<body>
<%== render 'header/header' %>
<%== render 'layouts/messages' %>

<%== yield %>
<%== render 'shared/organizator' %>
<%== render 'layouts/footer' %>

<!— Global Site Tag (gtag.js) - Google Analytics —>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39953962-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments)};
  gtag('js', new Date());

  gtag('config', 'UA-39953962-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
  (function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter45973884 = new Ya.Metrika({
          id:45973884,
          clickmap:true,
          trackLinks:true,
          accurateTrackBounce:true,
          webvisor:true
        });
      } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/45973884" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


<%== render 'shared/socials' %>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
</body>
</html>