<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%== content_for?(:title) ?
             yield(:title) :
             meta_title %>
  </title>
  <meta name="description" content="<%== content_for?(:description) ?
                                             yield(:description) :
                                             meta_desc %>" />

  <%= yield :og %>
  <%== csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: 'ca-pub-9255090171390946',
      enable_page_level_ads: true,
    });
  </script>
</head>
<body>
<%= render 'header/header' %>

<%- if request.fullpath === "/" %>
  <%= render 'shared/counters' %>
<% end %>

<!--
<div class="container content-container" style="padding-bottom: 0;padding-top: 0;">
  <div class="alert alert-dismissible alert-success text-center">
    Подсчет голосов завершен
  </div>
</div>
-->

<div class="wrapper content-container">
  <%- flash.each do |name, msg| %>
    <%- if msg.is_a?(String) %>
      <div class="alert alert-dismissible alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
        <button class="close" type="button" data-dismiss="alert" aria-hidden="true">×</button>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      </div>
    <% end %>
  <% end %>

  <%= yield %>
</div>
<% cache do %>
  <%= render partial: 'layouts/footer', cached: true %>
<% end %>

<%== stylesheet_link_tag 'application' %>
<%== stylesheet_pack_tag 'app-styles' %>
<%== javascript_include_tag 'application' %>
<%== javascript_pack_tag 'application' %>

<!— Global Site Tag (gtag.js) - Google Analytics —>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-39953962-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag() {dataLayer.push(arguments);};
  gtag('js', new Date());

  gtag('config', 'UA-39953962-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter45973884 = new Ya.Metrika({
          id: 45973884,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true,
        });
      } catch (e) {
      }
    });

    var n = d.getElementsByTagName('script')[0],
        s = d.createElement('script'),
        f = function() { n.parentNode.insertBefore(s, n); };
    s.type = 'text/javascript';
    s.async = true;
    s.src = 'https://mc.yandex.ru/metrika/watch.js';

    if (w.opera == '[object Opera]') {
      d.addEventListener('DOMContentLoaded', f, false);
    } else {
      f();
    }
  })(document, window, 'yandex_metrika_callbacks');
</script>
<noscript>
  <div>
    <img src="https://mc.yandex.ru/watch/45973884" style="position:absolute; left:-9999px;" alt="" />
  </div>
</noscript>
<!-- /Yandex.Metrika counter -->


<%#== render 'shared/socials' %>
<script src="//yastatic.net/es5-shims/0.0.2/es5-shims.min.js"></script>
<script src="//yastatic.net/share2/share.js"></script>
</body>
</html>