<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>
    <%== content_for?(:title) ? yield(:title) : 'Rails Devise Pundit' %>
  </title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Rails Devise Pundit'%>" />

  <%= yield :og %>
  <%== csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet" />
  <%== stylesheet_link_tag 'application' %>
  <%== stylesheet_pack_tag 'app-styles' %>
  <%== javascript_include_tag 'application' %>
  <%== javascript_pack_tag 'application' %>
</head>
<body>
<%== render 'header/header' %>
<%== render 'layouts/messages' %>
<%== yield %>
<%== render 'shared/organizator' %>
<%== render 'layouts/footer' %>
<%== render 'shared/socials' %>
</body>
</html>